# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite
*.sqlite
*.sqlite3

# Jupyter
.ipynb_checkpoints/